# 2026-02-21 - Fabric + Bedrock (Geyser/Floodgate) + Performance

services:
  mc:
    image: itzg/minecraft-server:latest
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"          # Java
      - "19132:19132/udp"      # Bedrock (Geyser)
    environment:
      EULA: "TRUE"
      TYPE: "FABRIC"
      VERSION: "1.21.11"
      MEMORY: "3072M"
      MAX_PLAYERS: "6"
      USE_AIKAR_FLAGS: "true"
      USE_MEOWICE_FLAGS: "true"
      TZ: "America/Bogota"
      DIFFICULTY: "2"
      OPS: |-
        JulianDr14
      PLAYER_IDLE_TIMEOUT: "15"

      # Por defecto instala releases (más estable)
      MODRINTH_PROJECTS_DEFAULT_VERSION_TYPE: "release"

      # Lista de mods (beta solo donde toca)
      MODRINTH_PROJECTS: |-
        # Crossplay (beta para 1.21.11)
        geyser:beta
        floodgate:beta

        # Rendimiento (release estables)
        lithium
        ferrite-core
        modernfix-mvus
        krypton
        scalablelux
        noisiumforked

        # Chunks (suele ir beta)
        c2me-fabric:beta

        # Diagnóstico
        spark

    volumes:
      - "./data:/data"
