# 2026-02-21 - Fabric + Bedrock (Geyser/Floodgate)

services:
  mc:
    image: itzg/minecraft-server:latest
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"          # Java
      - "19132:19132/udp"      # Bedrock (Geyser)  <-- IMPORTANTE
    environment:
      EULA: "TRUE"
      TYPE: "FABRIC"
      VERSION: "1.21.11"
      MEMORY: "3072M"
      MAX_PLAYERS: "6"
      USE_AIKAR_FLAGS: "true"
      USE_MEOWICE_FLAGS: "true"
      TZ: "America/Bogota"
      DIFFICULTY: "2"
      OPS: |-
        JulianDr14
      PLAYER_IDLE_TIMEOUT: "15"

      # --- clave para tu error ---
      # Geyser en Modrinth te aparece como beta, si dejas "release" falla
      MODRINTH_PROJECTS_DEFAULT_VERSION_TYPE: "beta"

      # Mods necesarios
      MODRINTH_PROJECTS: |-
        fabric-api
        geyser:beta
        floodgate:beta

    volumes:
      - "./data:/data"
